@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>Shopping Cart</h1>
    <p class="lead">
        Shopping Cart is an online e-commerce store for selling products.<br>
        Have a look a your last products ...
    </p>
</div>
