@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h4>@ViewBag.Message</h4>
<hr />

<div class="row">
    <address class="well col-md-3">
        <strong>Shopping Cart</strong><br /><br />
        Immeuble Ny Havana,<br />
        Ankorondrano, <br />
        Antananarivo 101<br /><br />
        <abbr title="Phone"><span class="glyphicon glyphicon-earphone"></span></abbr> 425.555.0100<br /><br />
        <span class="glyphicon glyphicon-envelope" style="margin-right:5px;"> </span><a href="mailto:shoppingcart@yopmail.com">shoppingcart@yopmail.com</a><br />
        <span class="glyphicon glyphicon-envelope" style="margin-right:5px;"> </span><a href="mailto:shoppingcarta@gmail.com">shoppingcarta@gmail.com</a>
    </address>

    <address class="well col-md-offset-1 col-md-3">
        <strong>Shopping Cart</strong><br /><br />
        Immeuble Ny Havana,<br />
        Ankorondrano, <br />
        Antananarivo 101<br /><br />
        <abbr title="Phone"><span class="glyphicon glyphicon-earphone"></span></abbr> 425.555.0100<br /><br />
        <span class="glyphicon glyphicon-envelope" style="margin-right:5px;"> </span><a href="mailto:shoppingcart@yopmail.com">shoppingcart@yopmail.com</a><br />
        <span class="glyphicon glyphicon-envelope" style="margin-right:5px;"> </span><a href="mailto:shoppingcarta@gmail.com">shoppingcarta@gmail.com</a>
    </address>

    <address class="well col-md-offset-1 col-md-3">
        <strong>Shopping Cart</strong><br /><br />
        Immeuble Ny Havana,<br />
        Ankorondrano, <br />
        Antananarivo 101<br /><br />
        <abbr title="Phone"><span class="glyphicon glyphicon-earphone"></span></abbr> 425.555.0100<br /><br />
        <span class="glyphicon glyphicon-envelope" style="margin-right:5px;"> </span><a href="mailto:shoppingcart@yopmail.com">shoppingcart@yopmail.com</a><br />
        <span class="glyphicon glyphicon-envelope" style="margin-right:5px;"> </span><a href="mailto:shoppingcarta@gmail.com">shoppingcarta@gmail.com</a>
    </address>
</div>

