@model ShoppingCart.BackOffice.ViewsModels.CreateViewModels

@{
    ViewBag.Title = "Create";
    ViewBag.Btn = "Save";
}

<h2>Edit</h2>


@Html.Partial("_ProductPartial")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
