<div id="VS" class="container">
    <div id="search_box_container"></div>
    <div id="search_query"></div>
    <script src="@Url.Content("~/Scripts/searchBar.js")" type="text/javascript" charset="utf-8"></script>
</div>
<div id="search_result_container">
</div>