@model ShoppingCart.CommonController.ViewModels.CheckoutDTO


<div class="col-md-6">
    <div class="x_panel">
        <img src="http://localhost:12862/Content/image/logo_MVOLA.jpg" alt="" />
        <div class="x_title">
            <h2>Mvola</h2>
            <span>@Html.RadioButtonFor(m => m.PaymentsMethod, "Mvola")</span>
            <!--<input type="radio" name="payment" value="Mvola">-->
        </div>
        <div class="x_content">
            <h3>Mobile Money Informations:</h3>
            <ul>
                <li>Payment amount:  <strong>@Model.Cart.ComputeTotalValue().ToString("c")</strong></li>
                <li>Send to : <strong>034 00 000 00</strong></li>
            </ul>
        </div>
    </div>
</div>

