@model ShoppingCart.BackOffice.ViewsModels.Workflow.SampleViewModel
@{
    ViewBag.Title = "CartPositionAndPossibilities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var state_choice = "";
</script>

<h2>All carts</h2>

@foreach (var c in Model.boxes)
{



<div class="card">
  <h3 class="card-header">#@c.Cart.Id.ToString().Substring(0, 8)</h3>
  <div class="card-block">
    <h4 class="card-title">
        <span class="glyphicon glyphicon-user"></span> @c.Cart.UserId.ToString().Substring(0, 8)
        <span class="glyphicon glyphicon-calendar"></span>
        @if (@c.Cart.DateCreated != null)
        {
            @c.Cart.DateCreated.ToString();
        }
    </h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="/BackOfficeWorkflow/OneCartMove?id=@c.Cart.Id" class="btn btn-info" role="button">View Detail</a>
    <a href="/BackOfficeWorkflow/Reset?id=@c.Cart.Id" class="btn btn-warning" role="button">Reset</a>
    <a href="/BackOfficeWorkflow/Drop?id=@c.Cart.Id" class="btn btn-danger" role="button">Drop</a>
  </div>
</div>

}