@using ShoppingCart.BackOffice.ViewsModels.Workflow
@model ShoppingCart.BackOffice.ViewsModels.Workflow.CartsViewModel
@{
    ViewBag.Title = "All carts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var state_choice = "";
</script>

<h2>All carts</h2>

@foreach (CartsViewModel.CartWorkViewModel c in Model.Carts)
{
<div class="card">
  <h3 class="card-header">#@c.Cart.Id.ToString().Substring(0, 8)</h3>
  <div class="card-block">
    <h4 class="card-title">
        <span class="glyphicon glyphicon-user"></span> @c.User.UserName
        <span class="glyphicon glyphicon-calendar"></span>
        @if (@c.Cart.DateCreated != null)
        {
            @c.Cart.DateCreated.ToString();
        }
    </h4>
    <p class="card-text">This cart is actually on @c.Status</p>
    <a href="/BackOfficeWorkflow/OneCartMove?id=@c.Cart.Id" class="btn btn-info" role="button">View Detail</a>
    <a href="/BackOfficeWorkflow/Reset?id=@c.Cart.Id" class="btn btn-warning" role="button">Reset</a>
    <a href="/BackOfficeWorkflow/Drop?id=@c.Cart.Id" class="btn btn-danger" role="button">Drop</a>
  </div>
</div>
}