@model ShoppingCart.ViewModels.CategoriesViewModel
@{
    ViewBag.Title = "Categories Detail Page";
}

<div class="row">
    <div class="col-md-4">
        
        @if (Model.SelectedCategories.Count() != 0)
        {
            <h2>@Model.SelectedCategories.First().Name</h2>

            foreach (var c in Model.SelectedCategories.First().Products)
            {
                <div>
                    <h3>@c.Name</h3>
                    <p>@c.Description</p>
                    <p>@c.Price</p>
                </div>
            }
        }
        else
        {
            <p>No product found</p>
        }
    </div>
</div>
