@model ShoppingCart.ViewModels.CategoriesViewModel
@{
    ViewBag.Title = "Categories Page";
}

<div class="row">
    <div class="col-md-4">
        <ul> Categories
        @foreach (var c in Model.Categories)
        {
            <li>
                <div>
                    @Html.ActionLink(c.Name, "Details", "Categories", new {name = c.Name})
                </div>
            </li>
        }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @foreach (var c in Model.SelectedCategories)
        {
            <p>@c.Name</p>
            foreach (var p in c.Products)
            {
                <li>
                    <div>
                        @p.Name
                    </div>
                </li>
            }
        }
    </div>
</div>
