@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models
@{
    ViewBag.Title = "Access Granting";
}

<h2>Access Granting</h2>

<table class="table">
    <tr>
        <th>Modules</th>
        <th>Roles having access</th>
        <th>Users having access</th>
        <th></th>
    </tr>
    <tr>
        <td>@Html.MvcSiteMap().SiteMap()</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    
</table>
