@model ShoppingCart.ViewModels.ProductDetailViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

    @foreach (var c in Model.Products)
    {
        <div>
            <h3>@c.Name</h3>
            <p>@c.Description</p>
            <p>@c.Price</p>
        </div>
    }
