@using ShoppingCart.Models.Models.Entities
@model ShoppingCart.CommonController.ViewModels.Cart.CartMovementViewModel

<h2>Cart Workflow</h2>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">ID:</div>
            <div class="col-md-6">User:</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">@Model.Cart.Id</div>
            <div class="col-md-6">@Model.Cart.</div>
        </div>
    </div>
</div>

